#navbarNav ul li{
  margin-left: 40px;
  
  color: black;
}

.navbar{
  -webkit-box-shadow: 0px 10px 59px -10px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 10px 59px -10px rgba(0,0,0,0.5);
box-shadow: 0px 10px 59px -10px rgba(0,0,0,0.5);
}

#navbarNav ul li a{
  color: black;
  font-weight: 800;
}

.fa-shopping-cart{
  font-size: 24px;
}

.badge-light{
  font-size: 12px;
  background-color: #e94a3585;
}


.navbar-brand{
  color: rgba(0,0,0,1) !important;
  font-size: 22px;
  font-weight: bold;
  margin-left: 4%;
}

#navbarNav ul li:last-child{
  font-size: 16px;
  line-height: 20px;
  padding: 0 15px;
  
  border: 2px solid rgba(0,0,0,1);
  border-radius: 10px;
  
  color: rgba(0,0,0,1);
}

#navbarNav ul li:last-child:hover{
  background-color: white;
  color: #808080;
}